<!-- Footer -->
<div class="row-lg d-flex align-items-center footer">
    <div class="col-md-10 footer d-flex justify-content-end">
      <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#main">MAIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#features">GAME FEATURES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#requirements">SYSTEM REQUIREMENTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#quotes">QUOTES</a>
      </li>
    </ul>
  </div>
  <div class="col-md-2 list-icon">
    <a href=""><img src="./assets/facebook.svg" alt="icon-facebook"></a>
    <a href=""><img src="./assets/twitter.svg" alt="icon-twitter"></a>
    <a href=""><img src="./assets/vector.svg" alt="icon-youtube"></a>
    <a href=""><img src="./assets/twitch.svg" alt="icon-twitch"></a>
  </div>
  </div>

  <hr color="white">
  <div class="row footer row-lg">
    <div class="col-md-6 copyright-bar">
      <p class="caption">© 2018 Your Games, Inc. All Rights Reserved</p>
    </div>
    <div class="col-md-6 privacy-bar">
      <p class="caption" style="font-weight: 400;color: white;font-size: 10px;">PRIVACY POLICY | TERMS OF SERVICES | CODE OF CONDUCT</p>
    </div>
  </div>
  </div>
  </div>