<!-- BEGIN SECTION 1: PLAY TRADITIONAL GAMES -->
<div class="container-fluid games">
    <div class="container text-center">
      <h1>PLAY TRADITIONAL GAME</h1>
      <p class="sub">Experience new traditional game play</p>
      <a href="game.html">
        <button type="button" class="btn btn-warning">TRIAL</button>
      </a>
      <div class="container-fluid text-center">
        <div class="py-3 bg-none">The story</div>
      </div>
      <a href="#section-games">
        <img src="assets/scroll-down.svg" alt="" />
      </a>
    </div>
  </div>
  <!-- END SECTION 1: PLAY TRADITIONAL GAMES -->

  <!-- BEGIN SECTION 2: THE GAMES -->
  <div id="section-games" class="container-fluid the-games">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Whats so special?</p>
          <p class="display-5">THE GAMES</p>
        </div>
        <div class="col">
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="assets/rockpaperstrategy-1600.jpg"
                  class="d-block w-100"
                  alt="card1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="assets/rockpaperstrategy-1600.jpg"
                  class="d-block w-100"
                  alt="card2"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="assets/rockpaperstrategy-1600.jpg"
                  class="d-block w-100"
                  alt="card3"
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END SECTION 2: THE GAMES -->

  <!-- BEGIN SECTION 3: FEATURES -->
  <div id="section-features" class="container-fluid features">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="paragraph">Whats so Special?</p>
          <p class="display-4 display-4">FEATURES</p>
        </div>
            <div class="row row-features">
              <div class="col col-features">TRADITIONAL GAMES</div>
              <br>
              <p class="isi">
                If you miss your childhood, we provide many traditional games
                here
              </p>
              <br>

              <div class="vertical"></div>
              <div class="row-cols-2">GAME SUIT</div>
              <br><br>
              <div class="row-cols-3">TBD</div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- END SECTION 3: FEATURES -->
  
  
  <!-- BEGIN SECTION 4:SYSTEM REQUIREMENTS -->
  
  <div class="container-fluid system">
    <p class="caption text-center">Can My Computer Run This Game?</p>
    <div class="container system-req-container">
      <div class="row">
        <div class="col-md-6">
          <br><br>
          <div class="h2">SYSTEM<br />REQUIREMENTS</div>
          <br><br>
        </div>
        <br><br><br>
        <div class="row">
          <div class="col-md-6">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-6">

            <div class="row">

              <div class="col-md-6 border">
                <div class="h5">OS:</div>

              <div class="quote">Windows 7 64-bit only<br>
              (NO OSX support at this time)</div>
              </div>
              <div class="col-md-6 border">
                <div class="h5">PROCESSOR:</div>
              <div class="caption">Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @2.8 GHZ</div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 border">
                <div class="h5">MEMORY:</div>
              <div class="caption">4 GB RAM</div>
              </div>
              <div class="col-md-6 border">
                <div class="h5">STORAGE:</div>
              <div class="caption">8 GB available space</div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 border">
                <div class="h5">GRAPHICS:</div>
                <div class="caption">NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- END 4:SYSTEM REQUIREMENTS -->

  <!-- BEGIN SECTION 5: TOP SCORES -->
  <div class="container-fluid top"
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col p-3">
            <div class="display-6">TOP SCORES</div>
            <br>
            <div class="paragraph">This top score from various games provided on this platform</div>
            <br><br>
            <a href="#">
              <button type="button" class="btn btn-warning btn-lg" style="margin-top: 20px;">see more</button>
            </a>
        </div>
        <div class="col-lg">


            <!-- CARD 1 -->

            <div class="row">
              <div class="col card-end">
              <div class="card mb-3 bg-card px-4 pt-2 pb-2"  style="max-width: 500px;">
              <div class="row d-flex align-items-center">

                <div class="col-md-2 p-2 ">
                  <img src="./assets/evan-lahti.jpg"width="70px" style="border-radius: 100%;" alt="...">
                </div>

                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Evan Lahti</h5>
                    <p class="caption">PC Gamer</p>
                  </div>
                </div>

                <div class="col-md-2"><img src="./assets/twitter.svg" alt="twitter"></div>
              </div>
                
              <p class="card-text">"One of my gaming highlights of the year."</p>
                <p class="card-time">June 18,2021</p>
            </div>
          </div>
          </div>
          
          <!-- Card 2 -->
          <div class="row">
            <div class="col card-start">
            <div class="card mb-3 bg-card px-4 pt-2 pb-2" style="max-width: 500px;">
            <div class="row d-flex align-items-center">

              <div class="col-md-2 p-2">
                <img src="./assets/jada-griffin.jpg" width="70px" style="border-radius: 100%;" alt="...">
              </div>

              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Jada Griffin</h5>
                  <p class="caption">Nerdreactor</p>
                </div>
              </div>

              <div class="col-md-2"><img src="./assets/twitter.svg" alt="twitter"></div>
            </div>
              
            <p class="card-text">"The next big thing in the world of streaming<br>and survival games"</p>
              <p class="card-time">July 10,2021</p>
          </div>
        </div>
        </div>

        <!-- Card 3 -->
        <div class="row">
          <div class="col card-end">
          <div class="card mb-3 bg-card px-4 pt-2 pb-2" style="max-width: 500px;">
          <div class="row d-flex align-items-center">

            <div class="col-md-2 p-2">
              <img src="./assets/aaron-williams.jpg" width="70px" style="border-radius: 100%;" alt="...">
            </div>

            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Aaron Williams</h5>
                <p class="caption">Uproxx</p>
              </div>
            </div>

            <div class="col-md-2"><img src="./assets/twitter.svg" alt="twitter"></div>
          </div>
            
          <p class="card-text">"Snoop Dogg Playing The Wildly Entertaining<br>'SOS' Is Ridiculous"</p>
            <p class="card-time">December 24, 2018</p>
        </div>
      </div>
      </div>
        
        
      </div>
        </div>
      </div>
  </div>

  <!--BEGIN SECTION 6: NEWSLETTER-->

        <div class="container-fluid news">
    <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-5">
        <img src="assets/skull.png">
      </div>
      <div class="col-md-5">
            <p class="paragraph-1">Want to stay in touch?</p>
            <div class="h1">NEWSLETTER SUBSCRIBE</div>
            <br>
           <div class="quote">In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We dont't spam</div>
          </div>
         </div>
    

          <form class="row display-flex md-4 mb-2">
            <div class="col-md-4 mb-2">
              <input type="email" class="form-control" id="email" placeholder="youremail@binar.com" style="background-color:whitesmoke">
            </div>
            
            <div class="col-md-8 mb-2">
              <button type="submit" class="btn btn-primary mb-3" style="color;black;font-size: 15px;color: black;background-color: goldenrod;">Subscibe Now</button>
            </div>
          </form>
    </div>

    
    
          </div>
        </div>          
      </div>
    </div>    