<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<div class="container-fluid">
        <form action="/login" method="post">
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input name="email" type="text" class="form-control" id="email" />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Example textarea</label>
            <input
              name="password"
              type="password"
              class="form-control"
              id="password"
              placeholder="password"
            />
          </div>
          <button type="Submit" class="btn btn-primary">submit</button>
        </form>
      </div>
    <title>Document</title>
</head>
<body>
    
</body>
</html>